* {
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
}
body, input, button, option, textarea, label, select, legend, h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font: 14px/18px Helvetica Neue, Helvetica, Arial, SF Pro Display, sans-serif;
	color: #333;
	outline: none;
}
body {
	min-width: 1024px;
	background: #3e3e3f;
}
header {
	width: 100%;
	background: #101010;
	height: 60px;
}
.bg-sg {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: #000;
	opacity: 0.8;
	z-index: 9998;
	display: none;
}
section {
	width: 100%;
}
section {
	width: 100%;
}
.slide-popup {
	display: none;
}
footer {
	width: 100%;
	background: #101010;
}
.popup-boxchat {
	display: block;
}
[class^='boxchat-'], [class*='boxchat-'] {
	background-image: url(//cdn.tgdd.vn/mwgcart/stag-topzone/images/common/boxchat.png);
	background-repeat: no-repeat;
	display: inline-block;
	height: 30px;
	width: 30px;
	line-height: 30px;
	vertical-align: middle;
	background-size: 150px 376px;
}
.boxchat-balloons {
	background-position: -1px -286px;
	width: 87px;
	height: 87px;
}
.popup-boxchat .boxchat-balloons {
	position: fixed;
	bottom: 24px;
	right: 40px;
	cursor: pointer;
	z-index: 99;
}
.chat-window {
	position: fixed;
	right: 50px;
	bottom: 114px;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0px 0px 12px rgba(51,51,51,0.2);
	padding: 8px 16px 16px;
	display: none;
	transition: .3s;
	z-index: 99;
}
.chat-window .sp-onl {
	display: block;
	overflow: hidden;
}
ul, ol {
	list-style: none;
}
.chat-window ul {
	display: block;
	overflow: hidden;
}
.chat-window ul li {
	display: block;
	overflow: hidden;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	margin: 12px 0;
	padding: 6px 26px 6px 16px;
	position: relative;
}
.chat-window ul li:last-child {
	margin: 0;
}
a {
	text-decoration: none;
	transition: .3s;
}
.chat-window ul li a {
	display: block;
	overflow: hidden;
}
.chat-window ul li .stage {
	display: none;
	position: absolute;
	top: calc(50% - 5px);
	left: 50%;
}
.dot-stretching {
	position: relative;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #288ad6;
	color: #288ad6;
	transform: scale(1.25);
	animation: dotStretching 2s infinite ease-in;
	text-align: left;
}
.dot-stretching::before {
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #288ad6;
	color: #288ad6;
	animation: dotStretchingBefore 2s infinite ease-in;
}
.dot-stretching::after {
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #288ad6;
	color: #288ad6;
	animation: dotStretchingAfter 2s infinite ease-in;
}
.dot-stretching::before, .dot-stretching::after {
	content: "";
	display: inline-block;
	position: absolute;
	top: 0px;
}
.boxchat-zalo {
	background-position: -124px 0;
	width: 24px;
	height: 24px;
}
.boxchat-call {
	background-position: -96px -318px;
	width: 24px;
	height: 24px;
}
.chat-window ul li i {
	display: inline-block;
	vertical-align: middle;
}
.chat-window ul li strong {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	line-height: 20px;
	font-weight: 600;
	margin: 0 0 0 8px;
	color: #333;
}
.chat-window ul li span {
	display: block;
	overflow: hidden;
	font-size: 12px;
	font-weight: 400;
	color: #333;
}
.chat-window .sp-onl h4 {
	display: block;
	overflow: hidden;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	font-weight: bold;
}
.boxchat-closewindow {
	background-position: -131px -32px;
	width: 10px;
	height: 11px;
}
.chat-window .sp-onl i {
	position: absolute;
	right: 8px;
	top: 8px;
	cursor: pointer;
}
.foot {
	width: 100%;
	max-width: 1200px;
	min-width: 1024px;
	margin: auto;
	display: block;
	padding-bottom: 10px;
}
.footer__logo {
	background-color: #222;
	padding: 15px 15px 5px;
	text-align: center;
}
p {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	text-rendering: geometricPrecision;
}
.footer__logo-hd {
	color: #757575;
	font-size: 14px;
	line-height: 21px;
}
.footer__logo-list {
	font-size: 0px;
	margin-top: 15px;
}
.footer__logo-list li {
	display: inline-block;
	margin: 0 5px 10px;
}
.footer__logo-list li a {
	display: block;
}
[class^='iconlogo-'], [class*='iconlogo-'] {
	background-image: url(//cdn.tgdd.vn/mwgcart/stag-topzone/images/desktop/icon_logo@2x.png?v=3);
	background-repeat: no-repeat;
	display: inline-block;
	height: 40px;
	width: 133px;
	line-height: 30px;
	vertical-align: middle;
	background-size: 300px 425px;
}
.iconlogo-vieclam {
	background-position: 0 -378px;
}
.iconlogo-4kfarm {
	background-position: -145px -330px;
}
.iconlogo-tantam {
	background-position: 0 -330px;
}
.iconlogo-sport {
	background-position: 0 0;
}
.iconlogo-kids {
	background-position: -145px -150px;
}
.iconlogo-ankhang {
	background-position: -145px -284px;
}
.iconlogo-bachhoaxanh {
	background-position: 0 -100px;
}
.iconlogo-dienmayxanh {
	background-position: 0 -150px;
}
.iconlogo-thegioididong {
	background-position: -145px -100px;
}
.logo-foot {
	display: block;
	overflow: hidden;
	padding: 30px 0;
}
.list-foot {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	border-bottom: 1px solid #333;
	padding: 0 0 30px;
}
.text-cpr {
	display: inline-block;
	overflow: hidden;
	padding: 22px 0;
	max-width: 60%;
}
.certify {
	display: inline-block;
	float: right;
	padding: 10px 0 0 10px;
}
.certify a {
	display: inline-block;
	margin-left: 22px;
	vertical-align: middle;
}
img {
	border: 0;
}
img.lazyload {
	opacity: 0;
}
.text-cpr p {
	display: block;
	overflow: hidden;
	font-size: 11px;
	line-height: 14px;
	color: #666;
}
.list-foot li {
	float: left;
	width: 23%;
}
.list-foot li span {
	display: block;
	overflow: hidden;
	color: #fff;
	font-size: 15px;
	line-height: 20px;
	padding: 0 0 8px;
	font-weight: 500;
}
.color-link {
	color: #2997ff !important;
}
.list-foot li a {
	display: block;
	overflow: hidden;
	font-size: 13px;
	line-height: 18px;
	padding: 0 0 10px;
	color: #e5e5e5;
}
.list-foot li a span {
	display: inline-block;
	width: 68px;
	padding: 0;
	font-size: 13px;
	line-height: 18px;
	overflow: unset;
}
.list-foot li a b { 	
	font-weight: 400;
	color: #2997ff;
}
.logo-foot a {
	display: inline-block;
	vertical-align: middle;
}
.logo-foot a:first-child {
	padding: 0 10px 0 0;
	border-right: 1px solid #3b3b3b;
	margin-right: 10px;
}
[class^='topzone-'], [class*='topzone-'] {
	background-image: url(//cdn.tgdd.vn/mwgcart/topzone/images/icon-topzone.png?v=1);
	background-repeat: no-repeat;
	display: inline-block;
	height: 30px;
	width: 30px;
	line-height: 30px;
	vertical-align: middle;
	background-size: 514px 226px;
}
.topzone-autho {
	background-image: url(//cdn.tgdd.vn/mwgcart/topzone/images/APR_logo.png);
	width: 32px;
	height: 40px;
	background-size: 100%;
}
.topzone-logo {
	background-position: 0 0;
	width: 103px;
	height: 35px;
}
.bg-popup {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: #000;
	opacity: 0.8;
	z-index: 1;
}
.owl-carousel {
	display: none;
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	z-index: 1;
}
.slide-store-pu {
	position: fixed;
	max-width: 1180px;
	min-width: 1024px;
	width: 100%;
	margin: auto;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.slide-store-pu img {
	width: 100%;
	display: block;
	margin: auto;
}
.slide-imgstore {
	background: #000;
}
.slide-topnews {
	max-width: 1200px;
	min-width: 1024px;
	margin: auto;
}
.slide-cate {
	max-width: 1200px;
	min-width: 1024px;
	margin: auto;
}
.owl-carousel.owl-loaded {
	display: block;
}
.policy {
	width: 100%;
	display: block;
	background: #323232;
	overflow: hidden;
}
.intro-topzone {
	display: block;
	overflow: hidden;
	background: #000;
}
.list-sieuthi {
	display: block;
	background: #000;
	padding: 40px 0 30px;
}
.center-page {
	max-width: 1180px;
	min-width: 1024px;
	margin: auto;
}
.list-sieuthi .center-page {
	padding: 40px 60px;
	border: 1px solid #757575;
	border-radius: 24px;
	text-align: center;
}
.list-sieuthi .store-province {
	padding-bottom: 40px;
	border-bottom: 1px solid #757575;
	margin-bottom: 20px;
	text-align: center;
}
.list-sieuthi .store-list {
	display: grid;
	grid-auto-rows: minmax(min-content, max-content);
	grid-template-columns: repeat(2, minmax(0, 1fr));
	text-align: left;
}
.list-sieuthi .center-page a.viewmore {
	color: #2997ff;
	display: inline-block;
	vertical-align: top;
	margin-top: 30px;
	position: relative;
}
.list-sieuthi .center-page a.viewmore::after {
	content: "";
	border-top: 1px solid #2997ff;
	border-right: 1px solid #2997ff;
	width: 8px;
	height: 8px;
	transform: rotate(135deg);
	display: inline-block;
	vertical-align: middle;
	margin: -4px 0 2px 10px;
}
.list-sieuthi .store-list p {
	display: block;
	overflow: hidden;
	padding: 15px 0;
	font-size: 15px;
	line-height: 20px;
	color: #fff;
	padding-right: 20px;
}
.list-sieuthi .store-list p:last-child {
	border-bottom: 0;
}
.list-sieuthi .store-list p.hide {
	display: none;
}
.list-sieuthi .store-list p a {
	color: #fff;
}
.list-sieuthi .store-list p a > span {
	display: block;
	overflow: hidden;
	padding: 0 0 7px;
}
.list-sieuthi .store-list p a > span:last-child {
	padding: 0;
}
.list-sieuthi .store-list p span span {
	color: #2997ff;
	padding: 0 10px;
}
.list-sieuthi .store-list p span span::after {
	content: "";
	border-top: 1px solid #2997ff;
	border-right: 1px solid #2997ff;
	width: 8px;
	height: 8px;
	transform: rotate(45deg);
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 2px 3px;
}
.list-sieuthi .store-province > * {
	display: inline-block;
	vertical-align: middle;
}
.list-sieuthi .store-province b {
	font-size: 18px;
	color: #fff;
	margin-right: 20px;
}
.list-sieuthi .store-province div {
	position: relative;
	width: 250px;
}
.list-sieuthi .store-province div span {
	border: 1px solid #757575;
	border-radius: 12px;
	background-color: #fff;
	display: block;
	height: 50px;
	line-height: 50px;
	position: relative;
	color: #323232;
	text-align: left;
	padding: 0 30px 0 20px;
	cursor: pointer;
}
.list-sieuthi .store-province div span::before {
	content: "";
	border-top: 1px solid #323232;
	border-right: 1px solid #323232;
	width: 8px;
	height: 8px;
	transform: rotate(135deg);
	position: absolute;
	right: 20px;
	bottom: 0px;
	top: -4px;
	margin: auto;
}
.list-sieuthi .store-province div ul {
	position: absolute;
	left: 0px;
	top: 55px;
	padding: 0 20px 20px;
	background-color: #fff;
	width: 100%;
	text-align: left;
	border-radius: 12px;
	display: none;
	z-index: 2;
}
.list-sieuthi .store-province div ul::before {
	content: "";
	position: absolute;
	width: 27px;
	height: 27px;
	background: #fff;
	transform: rotate(45deg);
	top: -4px;
	left: 30px;
	box-shadow: -2px -2px 5px -4px;
}
.list-sieuthi .store-province div ul li {
	cursor: pointer;
}
.list-sieuthi .store-province div ul li:not(:last-child) {
	padding-bottom: 15px;
}
.list-sieuthi .store-province div ul li:first-child {
	padding-top: 20px;
	position: relative;
	z-index: 1;
	background-color: #fff;
}
.owl-carousel .owl-stage-outer {
	position: relative;
	overflow: hidden;
	-webkit-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-nav {
	position: absolute;
	top: 38%;
	left: 0px;
	right: 0px;
	margin: auto;
	width: 100%;
}
/* @media screen and (max-width:1366px) */
.owl-carousel .owl-nav {
	width: 96%;
	margin: auto;
	left: 0px;
	right: 0px;
}
.owl-theme .owl-nav {
	margin-top: 10px;
	text-align: center;
	-webkit-tap-highlight-color: transparent;
}
.slide-imgstore .owl-nav {
	position: absolute;
	top: 35%;
	width: 100%;
}
.owl-theme .owl-dots {
	text-align: center;
	-webkit-tap-highlight-color: transparent;
}
.slide-imgstore .owl-dots {
	margin: 20px auto 0;
}
.owl-carousel .owl-nav button {
	background: #29292a !important;
	height: 50px;
	position: absolute;
	width: 50px;
	opacity: 0.7;
	border-radius: 100% !important;
}
.owl-carousel .owl-nav button::before, .owl-carousel .owl-nav button::after {
	content: "";
	position: absolute;
}
.owl-carousel .owl-nav button::after {
	border-top: 2px solid #d9d9d9;
	border-left: 2px solid #d9d9d9;
	height: 8px;
	width: 8px;
}
.owl-carousel .owl-nav button::before {
	background-color: #d9d9d9;
	height: 2px;
	width: 14px;
}
.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-dot {
	cursor: pointer;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.owl-theme .owl-nav [class*='owl-'] {
	color: #fff;
	font-size: 14px;
	margin: 5px;
	padding: 4px 7px;
	background: #d6d6d6;
	display: inline-block;
	cursor: pointer;
	border-radius: 3px;
}
.owl-theme .owl-nav .disabled {
	opacity: 0.5;
	cursor: default;
}
.owl-carousel .owl-nav button.owl-prev {
	left: 50px;
}
.owl-carousel .owl-nav button.owl-next {
	right: 50px;
}
.owl-carousel .owl-nav button.disabled {
	opacity: 0.4;
}
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {
	background: none;
	color: inherit;
	border: none;
	padding: 0 !important;
	font: inherit;
}
.owl-theme .owl-dots .owl-dot {
	display: inline-block;
	zoom: 1;
	*display:inline: ;
}
.owl-theme .owl-dots .owl-dot span {
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	background: #d6d6d6;
	display: block;
	-webkit-backface-visibility: visible;
	transition: opacity 200ms ease;
	border-radius: 30px;
}
.slide-imgstore .owl-dots .owl-dot span {
	background: #c7c7c7;
	border: 1px solid #fff;
}
.slide-home .owl-dots .owl-dot span {
	background: #c7c7c7;
	border: 1px solid #fff;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background: #869791;
}
.slide-imgstore .owl-dots .owl-dot.active span, .slide-imgstore .owl-dots .owl-dot:hover span {
	background: #fff;
	border: 2px solid #2997ff;
}
.owl-carousel .owl-nav button.owl-prev::after {
	left: 20px;
	top: 20px;
	transform: rotate(-45deg);
}
.owl-carousel .owl-nav button.owl-prev::before {
	left: 20px;
	top: 24px;
}
.owl-carousel .owl-nav button.owl-next::after {
	right: 19px;
	top: 20px;
	transform: rotate(135deg);
}
.owl-carousel .owl-nav button.owl-next::before {
	left: 18px;
	top: 24px;
}
.owl-carousel .owl-nav button span {
	font-size: 0px;
}
.owl-carousel .owl-stage {
	position: relative;
	-ms-touch-action: pan-y;
	touch-action: manipulation;
	-moz-backface-visibility: hidden;
}
.owl-carousel .owl-stage::after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0px;
}
.owl-carousel .owl-wrapper, .owl-carousel .owl-item {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-item {
	position: relative;
	min-height: 1px;
	float: left;
	-webkit-backface-visibility: hidden;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}
.owl-carousel.owl-drag .owl-item {
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.slide-imgstore img {
	max-width: 100%;
	height: auto;
	cursor: pointer;
}
.slide-home a img {
	width: 100%;
	max-width: 100%;
	height: auto;
	display: block;
	margin: auto;
}
.owl-carousel .owl-item img {
	display: block;
	width: 100%;
}
.owl-carousel .owl-item img {
	display: block;
	width: 100%;
	height: auto;
}
.owl-carousel .owl-item .owl-lazy {
	opacity: 0;
	transition: opacity 400ms ease;
}
.owl-carousel .owl-item img.owl-lazy {
	transform-style: preserve-3d;
}
.owl-carousel .owl-item [src^=''].owl-lazy, .owl-carousel .owl-item :not([src]).owl-lazy {
	max-height: 0px;
}
.intro-topzone .video-topzone {
	display: block;
	overflow: hidden;
	width: 100%;
	position: relative;
}
.intro-topzone p {
	display: block;
	overflow: hidden;
	font-size: 14px;
	line-height: 21px;
	color: #fff;
	text-align: center;
	padding: 12px 0;
	max-width: 675px;
	margin: auto;
}
.intro-topzone a {
	display: block;
	overflow: hidden;
	width: 110px;
	background: #0071e3;
	color: #fff;
	border-radius: 100px;
	padding: 10px;
	font-size: 15px;
	color: #fff;
	text-align: center;
	margin: 10px auto 20px;
}
video {
	display: block;
	width: 100%;
	height: auto;
	margin: auto;
}
.intro-topzone .video-topzone .gradient-bg {
	background: linear-gradient(180deg,rgba(0,0,0,0) 2.68%,rgba(0,0,0,.72) 53.2%,rgba(0,0,0,.86) 69.35%,#000 86.01%);
	height: 50%;
	position: absolute;
	bottom: 0px;
	width: 100%;
}
.intro-topzone .video-topzone img {
	display: block;
	width: 100%;
}
.intro-topzone .video-topzone img.logov-topzone {
	margin: auto;
	width: 30%;
	bottom: 3%;
	right: 0px;
	left: 0px;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
}
.box-slide {
	display: block;
	overflow: hidden;
	margin: 0 auto 80px;
}
.box-slide .logo-cate {
	display: block;
	overflow: hidden;
	margin: 0 auto 50px;
	text-align: center;
	width: max-content;
}
.slide-cate .owl-stage-outer, .slide-topnews .owl-stage-outer {
	padding: 10px 0;
}
.owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled {
	display: none;
}
.slide-cate.owl-carousel .owl-nav button.owl-prev, .slide-topnews.owl-carousel .owl-nav button.owl-prev {
	left: -82px;
}
.slide-cate.owl-carousel .owl-nav button.owl-next, .slide-topnews.owl-carousel .owl-nav button.owl-next {
	right: -82px;
}
.slide-cate.owl-carousel .owl-stage, .slide-topnews.owl-carousel .owl-stage {
	display: flex;
}
.slide-cate.owl-carousel .owl-item, .slide-topnews.owl-carousel .owl-item {
	display: flex;
}
.slide-topnews .item {
	background: #323232;
	border-radius: 24px;
	padding: 0 0 15px;
	margin: 0 10px 0 10px;
}
.slide-topnews .item a {
	display: block;
	overflow: hidden;
}
.slide-topnews .item .img-slide {
	overflow: hidden;
	display: flex;
	justify-content: center;
	border-radius: 24px 24px 0 0;
	min-height: 210px;
}
.slide-topnews .item a h3 {
	overflow: hidden;
	padding: 12px;
	height: 78px;
	font-size: 15px;
	line-height: 20px;
	color: #fff;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
}
.slide-topnews .item a span {
	display: block;
	overflow: hidden;
	font-size: 12px;
	line-height: 20px;
	padding: 0 12px;
	color: #757575;
	font-weight: 400;
}
.slide-topnews .item .img-slide img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: auto;
}
.box-slide .logo-cate span {
	color: #fff;
	font-size: 36px;
	line-height: 62px;
	font-family: SF Pro Display,sans-serif;
}
.choose-cate {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 50px auto 80px;
	max-width: 1200px;
	min-width: 1024px;
	width: 100%;
}
.slide-cate .item {
	background: #323232;
	border-radius: 24px;
	padding: 0 0 30px;
	margin: 0 10px 0 10px;
}
.slide-cate .item a {
	display: block;
	overflow: hidden;
}
.slide-cate .item label {
	position: relative;
	display: block;
	width: 52px;
	height: 30px;
	top: 10px;
	left: 20px;
	color: #ff9f00;
	border: 1px solid #ff9f00;
	border-radius: 100px;
	font-size: 15px;
	line-height: 20px;
	padding: 4px 12px;
	text-align: center;
}
.slide-cate .item label.no-label {
	border: 0;
}
.slide-cate .item .img-slide {
	display: block;
	overflow: hidden;
	display: flex;
	justify-content: center;
	height: 280px;
	width: 280px;
}
.slide-cate .item a h3 {
	display: block;
	overflow: hidden;
	padding: 12px;
	height: 40px;
	text-align: center;
	font-size: 15px;
	line-height: 20px;
	color: #fff;
}
.slide-cate .item a h3 {
	display: -webkit-box;
	padding: 0 10px;
	margin: 12px 0;
	text-align: center;
	font-size: 15px;
	line-height: 20px;
	color: #fff;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	overflow: hidden;
	-webkit-line-clamp: 2;
}
.slide-cate .item a span {
	display: block;
	overflow: hidden;
	font-size: 18px;
	line-height: 23px;
	padding: 0 10px;
	color: #fff;
	font-weight: 700;
	text-align: center;
}
.item-txt-online {
	color: #757575;
	font-size: 14px;
	line-height: 16px;
	margin: 5px 0;
	text-align: center;
}
.slide-cate .item .img-slide img {
	display: block;
	max-width: 100%;
	width: 250px;
	height: 250px;
	margin: auto;
}
.slide-cate .item a strike {
	font-size: 15px;
	line-height: 20px;
	font-weight: 400;
}
.slide-cate .item a small {
	font-size: 15px;
	line-height: 20px;
	font-weight: 400;
}
.topzone-catewatch {
	background-position: -380px -45px;
	width: 131px;
	height: 34px;
}
.box-slide .topzone-catewatch {
	background-image: url(//cdn.tgdd.vn/mwgcart/topzone/images/desktop/logo-watch.png) !important;
	background-position: unset;
	background-size: 100%;
	width: 148px;
	height: 32px;
}
.topzone-cateipad {
	background-position: -268px -45px;
	width: 105px;
	height: 32px;
}
.topzone-catemac {
	background-position: -159px -46px;
	width: 102px;
	height: 31px;
}
.topzone-cateiphone {
	background-position: 0 -45px;
	width: 152px;
	height: 32px;
}
.box-slide .logo-cate i {
	display: block;
	margin: auto;
}
.choose-cate li {
	float: left;
	width: 15%;
	margin: 0 10px;
	border-radius: 12px;
	background: #323232;
	height: 220px;
	position: relative;
}
.choose-cate li a {
	display: block;
	overflow: hidden;
}
.choose-cate li .img-catesp {
	display: block;
	overflow: hidden;
	margin: 45px auto 0;
}
.choose-cate li .catephukien {
	width: 96px;
	margin-top: 60px;
}
.choose-cate li span {
	color: #fff;
	font-size: 15px;
	line-height: 20px;
	text-align: center;
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 20px;
}
.choose-cate li .img-catesp img {
	display: block;
	width: 100%;
}
.choose-cate li .cateisound {
	width: 169px;
	margin-top: 50px;
}
.choose-cate li .catewatch {
	width: 132px;
	margin-top: 68px;
}
.choose-cate li .cateipad {
	width: 116px;
	margin-top: 51px;
}
.choose-cate li .catemac {
	width: 166px;
	margin-top: 78px;
}
.choose-cate li .cateiphone {
	width: 93px;
}
.pr-policy {
	display: block;
	overflow: hidden;
	background: #323232;
	text-align: center;
	padding: 25px 0;
	max-width: 1440px;
	min-width: 1024px;
	margin: auto;
}
.pr-policy li {
	display: inline-block;
	vertical-align: top;
	width: 24%;
}
.topzone-homeReturn {
	background-position: -396px -4px;
	width: 36px;
	height: 32px;
}
.topzone-homeInsur {
	background-position: -356px -2px;
	width: 29px;
	height: 36px;
}
.topzone-homeDeli {
	background-position: -306px -4px;
	width: 39px;
	height: 32px;
}
.topzone-homeDiver {
	background-position: -264px -3px;
	width: 35px;
	height: 34px;
}
.pr-policy li i {
	display: block;
	margin: 0 auto 15px;
}
.pr-policy li span {
	display: block;
	overflow: hidden;
	color: #fff;
	font-size: 15px;
	line-height: 20px;
	text-align: center;
}
.slide-home .owl-nav {
	position: absolute;
	top: 35%;
	width: 100%;
}
.slide-home .owl-dots {
	position: absolute;
	bottom: 15px;
	left: 0px;
	right: 0px;
	margin: auto;
}
.slide-home .owl-dots .owl-dot.active span, .slide-home .owl-dots .owl-dot:hover span {
	background: #fff;
	border: 2px solid #2997ff;
}
.slide-home a {
	display: block;
	overflow: hidden;
	width: 100%;
	height: unset;
}
.owl-carousel .owl-item .owl-lazy.lazyloaded {
	opacity: 1;
}
.head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
	min-width: 1024px;
	margin: auto;
	width: 100%;
	height: 60px;
	position: relative;
}
.logo-topzone {
	float: left;
	transition: opacity .1s cubic-bezier(.645, .045, .355, 1);
}
.menu {
	float: left;
	width: 65%;
}
.search-cart {
	float: right;
	position: relative;
}
.form-search {
	display: none;
	width: 600px;
	left: 0px;
	right: 0px;
	position: absolute;
	margin: auto;
	z-index: 9999;
	height: 60px;
	padding: 19px 0;
}
.click-search {
	display: block;
	overflow: hidden;
	position: relative;
}
.sg-search {
	position: absolute;
	top: 60px;
	width: 600px;
	right: 0px;
	left: 0px;
	margin: auto;
	padding: 20px 25px;
	border-radius: 0 0 16px 16px;
	background: #fff;
	display: none;
	transition: .5s ease-out;
}
.topzone-search {
	background-position: -187px -11px;
	width: 18px;
	height: 18px;
}
.click-search .topzone-search {
	cursor: pointer;
	display: block;
	position: absolute;
	left: 60px;
	transition: .55s ease-out;
	opacity: 0.2;
}
input[type=text], input[type=tel], textarea {
	-webkit-appearance: none;
}
.click-search input {
	float: right;
	width: 100%;
	padding-left: 85px;
	overflow: hidden;
	box-sizing: border-box;
	border: 0;
	background: unset;
	color: #fff;
	transition: .65s ease-out;
	opacity: 0.2;
	animation-name: specialFadeInRight;
	animation-duration: 400ms;
	animation-fill-mode: both;
	animation-delay: 350ms;
}
.topzone-delSearch {
	background-position: -214px -12px;
	width: 14px;
	height: 14px;
}
.click-search .topzone-delSearch {
	position: absolute;
	right: 0px;
	top: 1px;
	cursor: pointer;
}
.search-sp {
	display: inline-block;
	vertical-align: middle;
	background: #2f3033;
	border-radius: 100%;
	padding: 10px;
	height: 40px;
	width: 40px;
	position: relative;
	cursor: pointer;
}
.cart {
	display: inline-block;
	vertical-align: middle;
	background: #2f3033;
	border-radius: 100%;
	padding: 10px;
	margin: 0 0 0 10px;
	position: relative;
	height: 40px;
	width: 40px;
}
.view-cart {
	position: absolute;
	width: 220px;
	padding: 10px;
	background-color: #fff;
	border-radius: 4px;
	right: 0px;
	top: 43px;
	z-index: 10;
	display: none;
}
.view-cart::before {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #fff;
	content: "";
	height: 0px;
	position: absolute;
	top: -6px;
	right: 14px;
	width: 0px;
}
.topzone-cohang {
	background-position: -298px -94px;
	width: 14px;
	height: 14px;
}
.view-cart span {
	font-size: 12px;
}
.view-cart a {
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 8px;
	color: #fff;
	background-color: #0071e3;
	text-align: center;
	font-size: 15px;
	display: block;
	margin-top: 5px;
}
.topzone-cart {
	background-position: -239px -11px;
	width: 14px;
	height: 17px;
}
.cart i {
	display: block;
	margin: 2px auto;
}
.search-sp .topzone-search {
	display: block;
	margin: 2px auto;
}
.menu li {
	float: left;
	width: 14%;
	transition: opacity .2s cubic-bezier(.645, .045, .355, 1);
}
.menu li:nth-child(1) {
	animation-delay: 30ms;
	animation-duration: 400ms;
	animation-fill-mode: both;
	animation-name: specialFadeIn;
}
.menu li:nth-child(2) {
	animation-delay: 70ms;
	animation-duration: 400ms;
	animation-fill-mode: both;
	animation-name: specialFadeIn;
}
.menu li:nth-child(3) {
	animation-delay: 100ms;
	animation-duration: 400ms;
	animation-fill-mode: both;
	animation-name: specialFadeIn;
}
.menu li:nth-child(4) {
	animation-delay: 130ms;
	animation-duration: 400ms;
	animation-fill-mode: both;
	animation-name: specialFadeIn;
}
.menu li:nth-child(5) {
	animation-delay: 170ms;
	animation-duration: 400ms;
	animation-fill-mode: both;
	animation-name: specialFadeIn;
}
.menu li:nth-child(6) {
	animation-delay: 210ms;
	animation-duration: 400ms;
	animation-fill-mode: both;
	animation-name: specialFadeIn;
}
.menu li:nth-child(7) {
	animation-delay: 240ms;
	animation-duration: 400ms;
	animation-fill-mode: both;
	animation-name: specialFadeIn;
}
.menu li a {
	display: block;
	overflow: hidden;
	text-align: center;
	padding: 20px 0 19px;
}
.menu li:last-child a {
	margin-right: 0px;
}
.menu li a span {
	display: block;
	overflow: hidden;
	color: #fff;
	font-size: 14px;
	line-height: 21px;
}
.logo-topzone a {
	display: inline-block;
	vertical-align: middle;
}
.logo-topzone a:first-child {
	padding: 0 10px 0 0;
	border-right: 1px solid #3b3b3b;
	margin-right: 10px;
}